<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ribicnejc.party">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ribic.nejc.veselica.ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.ribic.nejc.veselica.notification.PartyReminderIntentService"
            android:exported="false" />

        <receiver
            android:name="com.ribic.nejc.veselica.notification.NotificationAlarmReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.ribic.nejc.veselica.PUSH_NOTIFICATION" />
                <action android:name="com.ribic.nejc.veselica.PUSH_NOTIFICATION_FAVORITE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.ribic.nejc.veselica.ui.SettingsActivity" />
        <activity
            android:name="com.ribic.nejc.veselica.ui.DetailActivity"
            android:parentActivityName="com.ribic.nejc.veselica.ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ribic.nejc.veselica.ui.MainActivity" />
        </activity>

        <service
            android:name="com.ribic.nejc.veselica.sync.PartyIntentService"
            android:exported="false" />

        <provider
            android:name="com.ribic.nejc.veselica.data.PartyProvider"
            android:authorities="@string/content_authority"
            android:exported="false" />

        <service
            android:name="com.ribic.nejc.veselica.sync.PartyJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>